body {
  font-family: 'Roboto', sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  margin-bottom: 10px;
}

.main-heading {
  display: inline-block;
  margin-left: 40px;
}

.title {
  font-size: 30px;
  
  margin: 10px 0;
}

.subtitle {
  font-size: 46px;
  font-weight: 300;
  margin: 0 0 20px 0;
}

.nav {
  /* margin: 40px 0 0 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  font-weight: 300;
  font-size: 20px;
  margin: 0 40px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: gray;
}

.main {
  display: flex;
}